.page-header {
	&-top {
		padding: .5em 0;
		background-color: $monter-dark-blue;
		color: #fff;
	}
	&-main {
		background-color: $monter-yellow;
		&-menu {
			margin: 1em 0px;
		}
	}
}

.customer-menu {
	text-align: right;
}